:root {
    --brand-primary: hsl(26, 100%, 55%);
    --brand-light: hsl(25, 100%, 75%);
    --dark-navy: hsl(220, 13%, 13%);
    --dark-gray-blue: hsl(219, 9%, 45%);
    --medium-gray-blue: hsl(220, 14%, 75%);
    --light-gray-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}